/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{ 
    width: 100%;
    display: flex;
    margin-bottom: 50px; 
    justify-content: space-between;
}
header{
    background: #2D25A0; 
    margin-bottom: 70px;
}
.banner{
    margin: 30px;
}
.banner-title{ 
    width: 480px; 
    height: 230px; 
    margin-right: 100px; 
    margin-left: 50px; 
    color: white;
    font-size: 64px;
 }
 .button-arrow{
    width: 20%;
    padding: 10px 24px;
    overflow: hidden;
    background: #E02C6D;
    border-radius: 5px;
    margin-left: 50px;
 }
 .button-arrow:hover{
    background-image:linear-gradient(#7a2141, #fd0059) ;
    box-shadow: 0px 0px 10px rgba(66, 11, 11, 0.692), 0px 0px 10px rgba(66, 11, 11, 0.692), 0px 0px 10px rgba(66, 11, 11, 0.692);
 }
 .button {
    text-decoration: none;
    color: white;
    margin-right: 3px;
 }
 .fa-arrow-right{ 
     color: white;
 }
.image img{
    width: 550px;
    height: 440px;
    margin: 50px 50px 0px 0px;
}
.players-des{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    grid-row-gap: 27px;
}
.player{
     width: 360px;
     height: 474px;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.288);
     padding: 15px;
 }
.player img{
    width: 100% ;
 }
.player p::-webkit-scrollbar {
    width: 0px;
}